
__pycache__/
.vscode/

test.py
brudnopis.py

input/*
output/*
results/*
results2
results_final/*
results_graphs/*
video/*
additional_metrics.py
brudnopis.py
5-people-csvs/
jojo
jojo-csv

workspace.code-workspace
notes.md