python=3.8.10
# pip install tensorflow-model-analysis
imageio
tqdm
matplotlib
IPython
pandas
# install with pip
# git+https://github.com/tensorflow/docs

# install from conda-forge "conda install -c conda-forge ...'
# opencv
# tensorflow-hub
# matplotlib