
imageio
tensorflow=2.4.1
tqdm
matplotlib
IPython
# install with pip
# git+https://github.com/tensorflow/docs
# install from conda-forge "conda install -c conda-forge ...'
# opencv-python
# tensorflow-hub=0.12